@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-farm-white text-gray-900;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}